$label-color: #8b8b8b;
$input-bcolor: #2f2f2f;
$error-color: red;

.login {
  padding-top: 56px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 396px;
}

.error {
  font-size: 10px;
  line-height: 12px;
  color: $error-color;
}

.errorInvisible {
  display: None;
}

.formInput {
  border: none;
  background-color: $input-bcolor;
  border-radius: 8px;
  height: 46px;
  width: 260px;
  margin: 10px 0 10px;
}

.formLabel {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  line-height: 12px;
  max-width: 396px;
  min-width: 260px;
  color: $label-color;
  margin: 0 0 10px;
}

.formLabel:last-of-type {
  margin-bottom: 267px;
}

@media screen and (min-width: 768px) {
  .login {
    align-items: flex-start;
    padding-top: 232px;
  }
  .formInput {
    width: 396px;
  }

  .formLabel:last-of-type {
    margin-bottom: 179px;
  }
}

@media screen and (min-width: 1024px) {
  .login {
    align-items: flex-start;
    padding-top: 70px;
  }
}
